<?xml version="1.0" encoding="UTF-8" ?>
<Preset3D>
    <ScalarOpacity>
        <dict>
            <X>-3024</X>
            <scalarOpacity>0.705882</scalarOpacity>
        </dict>
        <dict>
            <X>-900</X>
            <scalarOpacity>0.715686</scalarOpacity>
        </dict>
        <dict>
            <X>-500</X>
            <scalarOpacity>0</scalarOpacity>
        </dict>
        <dict>
            <X>3071</X>
            <scalarOpacity>0</scalarOpacity>
        </dict>
    </ScalarOpacity>
    <ColorTransfer>
        <dict>
            <X>-3024</X>
            <red>1</red>
            <green>1</green>
            <blue>1</blue>
        </dict>
        <dict>
            <X>-900</X>
            <red>0.2</red>
            <green>1</green>
            <blue>1</blue>
        </dict>
        <dict>
            <X>-500</X>
            <red>0.3</red>
            <green>0.3</green>
            <blue>1</blue>
        </dict>
        <dict>
            <X>3071</X>
            <red>0</red>
            <green>0</green>
            <blue>0</blue>
        </dict>
    </ColorTransfer>
    <shade>1</shade>
    <specularPower>10</specularPower>
    <specular>0.2</specular>
    <ambient>0.1</ambient>
    <diffuse>0.9</diffuse>
    <interpolation>1</interpolation>
    <wl>-1200</wl>
    <ww>-200</ww>
</Preset3D>
