<?xml version="1.0" encoding="UTF-8" ?>
<Preset3D>
    <ScalarOpacity>
        <dict>
            <X>-3024</X>
            <scalarOpacity>0</scalarOpacity>
        </dict>
        <dict>
            <X>-155.407</X>
            <scalarOpacity>0</scalarOpacity>
        </dict>
        <dict>
            <X>217.641</X>
            <scalarOpacity>0.676471</scalarOpacity>
        </dict>
        <dict>
            <X>419.736</X>
            <scalarOpacity>0.833333</scalarOpacity>
        </dict>
        <dict>
            <X>3071</X>
            <scalarOpacity>0.803922</scalarOpacity>
        </dict>
    </ScalarOpacity>
    <ColorTransfer>
        <dict>
            <X>-3024</X>
            <red>0</red>
            <green>0</green>
            <blue>0</blue>
        </dict>
        <dict>
            <X>-155.407</X>
            <red>0.54902</red>
            <green>0.25098</green>
            <blue>0.14902</blue>
        </dict>
        <dict>
            <X>217.641</X>
            <red>0.882353</red>
            <green>0.603922</green>
            <blue>0.290196</blue>
        </dict>
        <dict>
            <X>419.736</X>
            <red>1</red>
            <green>0.937033</green>
            <blue>0.954531</blue>
        </dict>
        <dict>
            <X>3071</X>
            <red>0.827451</red>
            <green>0.658824</green>
            <blue>1</blue>
        </dict>
    </ColorTransfer>
    <shade>1</shade>
    <specularPower>10</specularPower>
    <specular>0.2</specular>
    <ambient>0.1</ambient>
    <diffuse>0.9</diffuse>
    <interpolation>1</interpolation>
    <wl>-155.407</wl>
    <ww>419.736</ww>
</Preset3D>
