<Group version="1.0.0.39">
  <Group1>
    <element TagName="Modality" TagNumber="0008,0060" TagContent="CT" />
  </Group1>
  <Group2>
    <element TagName="Modality" TagNumber="0008,0060" TagContent="OT" />
  </Group2>
  <Group3>
    <element TagName="Modality" TagNumber="0008,0060" TagContent="DX" />
  </Group3>
  <Group4>
    <element TagName="Modality" TagNumber="0008,0060" TagContent="DR" />
  </Group4>
</Group>